<section id="logo">
	<i class="fa fa-mortar-board"></i>
	<h1>wardoo</h1>
	<p>by waven</p>
</section>

<section>
	<nav>
		<ul>
			<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ 'HOME.TITLE' | translate }}</a></li>
			<li><a href="/principals" ng-if="isLoggedIn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ 'PRINCIPAL.TITLE' | translate }}</a></li>
			<li><a href="/coordinators" ng-if="isLoggedIn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ 'COORDINATOR.TITLE' | translate }}</a></li>
			<li><a href="/teachers" ng-if="isLoggedIn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ 'TEACHER.TITLE' | translate }}</a></li>
			<li><a href="/responsibles" ng-if="isLoggedIn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ 'RESPONSIBLE.TITLE' | translate }}</a></li>
			<li><a href="/login" ng-if="isLoggedOut"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {{ 'AUTHENTICATION.SIGNIN' | translate }}</a></li>
			<li><a href="/logout" ng-if="isLoggedIn"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {{ 'AUTHENTICATION.SIGNOUT' | translate }}</a></li>
		</ul>
	</nav>
</section>