<section id="logo" class="logo">
	<a href="/">
		<i class="fa fa-mortar-board"></i> Wardoo
	</a>
	
	<i class="fa fa-arrow-left" title="{{ 'SIDEBAR.HIDE' | translate }}" ng-click="toggleSidebarPreference()"></i>
</section>

<section id="navigation">
	<nav>
		<ul>
			<li><a href="/"><i class="fa fa-home"></i> {{ 'HOME.TITLE' | translate }}</a></li>
			<li><a href="/principals" ng-if="isLoggedIn"><i class="fa fa-list"></i> {{ 'PRINCIPAL.TITLE' | translate }}</a></li>
			<li><a href="/coordinators" ng-if="isLoggedIn"><i class="fa fa-list"></i> {{ 'COORDINATOR.TITLE' | translate }}</a></li>
			<li><a href="/teachers" ng-if="isLoggedIn"><i class="fa fa-list"></i> {{ 'TEACHER.TITLE' | translate }}</a></li>
			<li><a href="/responsibles" ng-if="isLoggedIn"><i class="fa fa-list"></i> {{ 'RESPONSIBLE.TITLE' | translate }}</a></li>
			<li><a href="/logout" ng-if="isLoggedIn"><i class="fa fa-sign-out"></i> {{ 'AUTHENTICATION.SIGNOUT' | translate }}</a></li>
		</ul>
	</nav>
</section>