<div id="login-form">
	<form name="form" ng-submit="login()" role="form">
		<section id="logo">
			<i class="fa fa-mortar-board"></i>
			<h1>wardoo</h1>
			<p>by waven</p>
		</section>
		
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		
		<p>Enter your information below to log in.</p>
		
		<input type="text" name="username" id="username" class="form-control" placeholder="Username" ng-model="username" required />
		<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
		
		<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="password" required />
		<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
		
		<div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-lg btn-primary btn-block">Login</button>
		</div>
	</form>
</div>