<div class="panel">
	<div class="panel-body">
		<div class="pad-btm form-inline">
			<div class="row">
				<div class="col-sm-6 table-toolbar-left">
					<a ng-click="createNewResponsible()" class="btn btn-small btn-primary btn-labeled fa fa-plus">
						<span>{{ 'RESPONSIBLE.ADD' | translate }}</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="table-responsive">
			<table class="table table-hover table-vcenter" ng-hide="empty">
				<thead>
					<tr>
						<th class="min-width"></th<>
						<th>{{ 'PERSON.NAME' | translate}}</th>
						<th>{{ 'PERSON.BIRTHDATE' | translate }}</th>
						<th>{{ 'PERSON.CPF' | translate }}</th>
						<th>{{ 'PERSON.RG' | translate }}</th>
						<th>{{ 'PERSON.CONTACT' | translate }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="responsible in responsibles">
						<td class="text-center"><img class="img-circle img-user media-object" src="assets/img/av1.png"></td>
						<td>{{ responsible.person.name.name }} {{ responsible.person.name.surname }}</td>
						<td>{{ responsible.person.birthDate | date: 'dd/MM/yyyy' }}</td>
						<td>{{ responsible.person.cpf }}</td>
						<td>{{ responsible.person.rg }}</td>
						<td>
							<ul>
								<li ng-repeat="contact in responsible.person.contacts">{{ contact.value }}</li>
							</ul>
						</td>
						<td>
							<a ng-click="editResponsibleProfile(responsible.id)">
								<button class="btn btn-default" title="{{ 'RESPONSIBLE.EDIT' | translate }}">
									<i class="fa fa-edit"></i>
								</button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="loading">{{ 'RESPONSIBLE.LOADING' | translate }}</div>
		<div ng-show="!loading && empty">{{ 'RESPONSIBLE.EMPTY' | translate }}</div>
	</div>
</div>