<h1>{{ 'RESPONSIBLE.TITLE' | translate }}</h1>

<a ng-click="createNewResponsible()" class="btn btn-small btn-primary add-item">
	<i>+</i>
	<span>{{ 'RESPONSIBLE.ADD' | translate }}</span>
</a>

<section>
	<div class="table-container">
		<table class="table table-striped table-condensed" ng-hide="empty">
			<thead>
				<tr>
					<th class="photo"></th<>
					<th>{{ 'PERSON.NAME' | translate}}</th>
					<th>{{ 'PERSON.BIRTHDATE' | translate }}</th>
					<th>{{ 'PERSON.CPF' | translate }}</th>
					<th>{{ 'PERSON.RG' | translate }}</th>
					<th>{{ 'PERSON.CONTACT' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="responsible in responsibles">
					<td class="photo"><a href="/responsible/{{ responsible.person.id }}"><i class="fa fa-user"></i></a></td>
					<td class="main-col"><a href="/responsible/{{ responsible.person.id }}">{{ responsible.person.name.name }} {{ responsible.person.name.surname }}</a></td>
					<td>{{ responsible.person.birthDate | date: 'dd/MM/yyyy' }}</td>
					<td>{{ responsible.person.cpf }}</td>
					<td>{{ responsible.person.rg }}</td>
					<td>
						<ul>
							<li ng-repeat="contact in responsible.person.contacts">{{ contact.value }}</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="loading">{{ 'RESPONSIBLE.LOADING' | translate }}</div>
	<div ng-show="!loading && empty">{{ 'RESPONSIBLE.EMPTY' | translate }}</div>
</section>