<h1>Teachers</h1>

<a ng-click="createNewTeacher()" class="btn btn-small btn-primary add-item">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add teacher
</a>

<section>
	<table class="table table-striped table-condensed" ng-show="teachers.length">
		<thead>
			<tr>
				<th></th<>
				<th>Name</th>
				<th>Birthdate</th>
				<th>CPF</th>
				<th>RG</th>
				<th>Contact</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="teacher in teachers">
				<td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
				<td>{{ teacher.person.name.name }} {{ teacher.person.name.surname }}</td>
				<td>{{ teacher.person.birthDate }}</td>
				<td>{{ teacher.person.cpf }}</td>
				<td>{{ teacher.person.rg }}</td>
				<td>
					<ul>
						<li ng-repeat="contact in teacher.person.contacts">{{ contact.value }}</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="!teachers.length">No teachers found.</div>
</section>