<form name="principalcreation" class="form-horizontal">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'CREDENTIAL.TITLE' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': principalcreation.username.$dirty && (principalcreation.username.$error.required || principalcreation.username.$error.maxlength)}">
				<label for="username" class="col-md-2 control-label">{{ 'CREDENTIAL.USERNAME' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="username" name="username" class="form-control" ng-class="{'ng-filled': principal.credential.username.length > 0}" ng-model="principal.user.credential.username" ng-maxlength=255 required />
					<div ng-show="principalcreation.username.$dirty && principalcreation.username.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
					<div ng-show="principalcreation.username.$dirty && principalcreation.username.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 255}' }}</small></div>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': principalcreation.password.$dirty && (principalcreation.password.$error.required || principalcreation.password.$error.maxlength)}">
				<label for="password" class="col-md-2 control-label">{{ 'CREDENTIAL.PASSWORD' | translate }}</label>
				<div class="col-md-10">
					<input type="password" id="password" name="password" class="form-control" ng-class="{'ng-filled': principal.credential.password.length > 0}" ng-model="principal.user.credential.password" ng-maxlength=255 required />
					<div ng-show="principalcreation.password.$dirty && principalcreation.password.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
					<div ng-show="principalcreation.password.$dirty && principalcreation.password.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 255}' }}</small></div>
				</div>
			</div>
		</div>
		
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'PERSON.PERSONALINFO' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': principalcreation.name.$dirty && (principalcreation.name.$error.required || principalcreation.name.$error.maxlength)}">
				<label for="name" class="col-md-2 control-label">{{ 'PERSON.FIRSTNAME' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="name" name="name" class="form-control" ng-class="{'ng-filled': principal.person.name.name.length > 0}" ng-model="principal.person.name.name" ng-maxlength=255 required />
					<div ng-show="principalcreation.name.$dirty && principalcreation.name.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
					<div ng-show="principalcreation.name.$dirty && principalcreation.name.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 255}' }}</small></div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.surname.$dirty && (principalcreation.surname.$error.required || principalcreation.surname.$error.maxlength)}">
				<label for="surname" class="col-md-2 control-label">{{ 'PERSON.LASTNAME' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="surname" name="surname" class="form-control" ng-class="{'ng-filled': principal.person.name.surname.length > 0}" ng-model="principal.person.name.surname" ng-maxlength=255 required />
					<div ng-show="principalcreation.surname.$dirty && principalcreation.surname.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
					<div ng-show="principalcreation.surname.$dirty && principalcreation.surname.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 255}' }}</small></div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.birthdate.$dirty && principalcreation.birthdate.$error.mask-validate}">
				<label for="birthdate" class="col-md-2 control-label">{{ 'PERSON.BIRTHDATE' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="birthdate" name="birthdate" class="form-control" ng-class="{'ng-filled': principal.person.birthDate.length > 0}" ng-model="principal.person.birthDate" mask="99/99/9999" mask-validate="true" required />
					<div ng-show="principalcreation.birthdate.$dirty && principalcreation.birthdate.$error.mask-validate"><small class="help-block">{{ 'FORM.ERROR.DATE' | translate }}</small></div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="genre" class="col-md-2 control-label">{{ 'PERSON.GENRE' | translate }}</label>
				<div class="col-md-10">
					<div><input type="radio" name="genre" id="genre-male" ng-model="principal.person.genre" value="MALE" required /> {{ 'PERSON.MALE' | translate }}</div>
					<div><input type="radio" name="genre" id="genre-female" ng-model="principal.person.genre" value="FEMALE" required /> {{ 'PERSON.FEMALE' | translate }}</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.cpf.$dirty && principalcreation.cpf.$error.mask-validate}">
				<label for="cpf" class="col-md-2 control-label">{{ 'PERSON.CPF' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="cpf" name="cpf" class="form-control" ng-class="{'ng-filled': principal.person.cpf.length > 0}" ng-model="principal.person.cpf" mask="999.999.999-99" mask-validate="true" />
					<div ng-show="principalcreation.cpf.$dirty && principalcreation.cpf.$error.mask-validate"><small class="help-block">{{ 'FORM.ERROR.CPF' | translate }}</small></div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.rg.$dirty && principalcreation.rg.$error.maxlength}">
				<label for="rg" class="col-md-2 control-label">{{ 'PERSON.RG' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="rg" name="rg" class="form-control" ng-class="{'ng-filled': principal.person.rg.length > 0}" ng-model="principal.person.rg" ng-maxlength=20 />
					<div ng-show="principalcreation.rg.$dirty && principalcreation.rg.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 20}' }}</small></div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.email.$dirty && (principalcreation.email.$invalid && visitedEmail && !principalcreation.email.$error.required || principalcreation.email.$error.maxlength)}">
				<label for="email" class="col-md-2 control-label">{{ 'PERSON.EMAIL' | translate }}</label>
				<div class="col-md-10">
					<input type="email" id="email" name="email" class="form-control" ng-class="{'ng-filled': principal.person.contacts[0].value.length > 0}" ng-model="principal.person.contacts[0].value" ng-maxlength=255 ng-blur="visitedEmail = true" />
					<div ng-show="principalcreation.email.$dirty && principalcreation.email.$invalid && visitedEmail && !principalcreation.email.$error.required"><small class="help-block">{{ 'FORM.ERROR.EMAIL' | translate }}</small></div>
					<div ng-show="principalcreation.email.$dirty && principalcreation.email.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 255}' }}</small></div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.phone.$dirty && principalcreation.phone.$error.mask-validate}">
				<label for="phone" class="col-md-2 control-label">{{ 'PERSON.PHONE' | translate }}</label>
				<div class="col-md-10">
					<input type="tel" id="phone" name="phone" class="form-control" ng-class="{'ng-filled': principal.person.contacts[1].value.length > 0}" ng-model="principal.person.contacts[1].value" mask="(99) 9?9999-9999" mask-validate="true" />
					<div ng-show="principalcreation.phone.$dirty && principalcreation.phone.$error.mask-validate"><small class="help-block">{{ 'FORM.ERROR.PHONE' | translate }}</small></div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': principalcreation.phonealt.$dirty && principalcreation.phonealt.$error.mask-validate}">
				<label for="phone-secondary" class="col-md-2 control-label">{{ 'PERSON.PHONEALT' | translate }}</label>
				<div class="col-md-10">
					<input type="tel" id="phone-secondary" name="phonealt" class="form-control" ng-class="{'ng-filled': principal.person.contacts[2].value.length > 0}" ng-model="principal.person.contacts[2].value" mask="(99) 9?9999-9999" mask-validate="true" />
					<div ng-show="principalcreation.phonealt.$dirty && principalcreation.phonealt.$error.mask-validate"><small class="help-block">{{ 'FORM.ERROR.PHONE' | translate }}</small></div>
				</div>
			</div>
		</div>
		
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'SCHOOL.TITLE' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': principalcreation.school.$dirty && principalcreation.school.$error.required}">
				<label for="school" class="col-md-2 control-label">{{ 'SCHOOL.TITLE' | translate }}</label>
				<div class="col-md-10">
					<select class="form-control" name="school" ng-model="principal.school.id" required>
						<option value="1">Wardoo High School</option>
					</select>
					<div ng-show="principalcreation.school.$dirty && principalcreation.school.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
		</div>
	
		<div class="panel-footer">
			<a ng-click="createNewPrincipal()" class="btn btn-small btn-success" ng-disabled="principalcreation.$invalid">{{ 'FORM.SAVE' | translate }}</a>
			<a ng-click="cancel()" class="btn btn-small btn-default">{{ 'FORM.CANCEL' | translate }}</a>
		</div>
	</div>
</form>