<h1>Coordinators</h1>

<a ng-click="createNewCoordinator()" class="btn btn-small btn-primary add-item">
	+ Add coordinator
</a>

<section>
	<table class="table table-striped table-condensed" ng-hide="empty">
		<thead>
			<tr>
				<th></th<>
				<th>Name</th>
				<th>Birthdate</th>
				<th>CPF</th>
				<th>RG</th>
				<th>Contact</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="coordinator in coordinators">
				<td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
				<td>{{ coordinator.person.name.name }} {{ coordinator.person.name.surname }}</td>
				<td>{{ coordinator.person.birthDate | date: 'dd/MM/yyyy' }} ({{ calculateAge(coordinator.person.birthDate) }} years old)</td>
				<td>{{ coordinator.person.cpf }}</td>
				<td>{{ coordinator.person.rg }}</td>
				<td>
					<ul>
						<li ng-repeat="contact in coordinator.person.contacts">{{ contact.value }}</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="loading">Loading coordinators...</div>
	<div ng-show="!loading && empty">No coordinators found.</div>
</section>