main.col-md-9 {
	padding-top: 1%;
}

aside.col-md-3 {
	height: 100%;
	padding: 1%;
	text-align: center;
	width: 15%;
}

aside.col-md-3 section {
	margin: 0 0 10%;
	padding: 0 0 10%;
}

aside.col-md-3 nav {
	text-align: left;
}

aside.col-md-3 nav > ul > li {
    margin: 0 0 15%;
}

aside.col-md-3 nav > ul > li:last-child {
	margin: 0;
}

aside.col-md-3 nav > ul > li > i {
    text-align: center;
    width: 20%;
}