body {
	background-color: #EEEEEE;
}

main > section, form > section {
	background-color: #FFFFFF;
}

nav.navbar-default {
	background-color: #FFFFFF;
}

nav.navbar-default .navbar-nav > li > a,
nav.navbar-default .navbar-nav > li > a:hover,
nav.navbar-default .navbar-nav > li > a:focus,
nav.navbar-default .navbar-nav > li.open > a,
nav.navbar-default .navbar-nav > li.open > a:hover,
nav.navbar-default .navbar-nav > li.open > a:focus,
nav.navbar-default .navbar-nav > li.active > a,
nav.navbar-default .navbar-nav > li.active > a:hover,
nav.navbar-default .navbar-nav > li.active > a:focus {
	background-color: #FFFFFF;
	color: #333333;
}

aside.col-md-2 {
	background-color: #186FB6;
	color: #FFFFFF;
}

aside.col-md-2 section a {
	color: #FFFFFF;
}

aside.col-md-2 nav > ul > li > a:hover {
	background-color: #0E436E;
}

form#login {
	background-color: #FFFFFF;
}

form#login #logo {
	color: #186FB6;
}

table.table > thead > tr > th {
	border-color: #EEEEEE;
}

table.table > thead > tr > th,
table.table > tbody > tr > th,
table.table > tfoot > tr > th,
table.table > thead > tr > td,
table.table > tbody > tr > td,
table.table > tfoot > tr > td {
	color: #555555;
}

span.glyphicon-user {
	background: #AAAAAA;
	color: #FFFFFF;
}