body {
	background-color: #EEEEEE;
}

main > section, form > section {
	background-color: #FFFFFF;
}

aside.col-md-2 {
	background-color: #186FB6;
	color: #FFFFFF;
}

aside.col-md-2 section {
	border-bottom: 1px solid #A6CCE7;
}

aside.col-md-2 section:last-child {
	border-bottom: medium none;
}

aside.col-md-2 section a {
	color: #FFFFFF;
}

form#login {
	background-color: #FFFFFF;
}

form#login #logo {
	color: #186FB6;
}

table.table > thead > tr > th {
	border-color: #EEEEEE;
}

table.table > thead > tr > th,
table.table > tbody > tr > th,
table.table > tfoot > tr > th,
table.table > thead > tr > td,
table.table > tbody > tr > td,
table.table > tfoot > tr > td {
	color: #555555;
}

span.glyphicon-user {
	background: #AAAAAA;
	color: #FFFFFF;
}