body {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	margin: 10px 0 20px;
}

h4, .h4 {
	font-size: 20px;
}

section#logo {
	font-size: 23px;
	font-weight: bold;
	margin-top: 5%;
}

form#login #logo {
	font-size: 3.2vw;
	white-space: nowrap;
}
