body {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin: 10px 0 20px;
}

#logo i {
	font-size: 570%;
}

#logo h1 {
	font-size: 285%;
	margin: 0;
}

#logo p {
	font-size: 95%;
	margin: 0;
}