body {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	margin: 10px 0 20px;
}

h4, .h4 {
	font-size: 20px;
}

.logo,
.logo > a {
	font-size: 23px !important;
	font-weight: bold !important;
	text-transform: none !important;
	white-space: nowrap;
}

form#login .logo {
	font-size: 40px !important;
}

nav.navbar-default .navbar-nav > li > a {
	font-size: 12px;
}

nav.navbar-default .navbar-nav > li i.mobile-icon {
	font-size: 16px;
}