<form name="schoolclasscreation" class="form-horizontal">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'SCHOOLCLASS.IDENTIFICATION' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<!-- Degree -->
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.degree.$dirty && schoolclasscreation.degree.$error.required}">
				<label for="degree" class="col-md-2 control-label">{{ 'DEGREE.TITLE' | translate }}</label>
				<div class="col-md-10">
					<select
						class="form-control"
						name="degree"
						ng-change="schoolclass.identification.degreelevel = ''"
						ng-model="schoolclass.identification.degree"
						ng-options="d.degree | translate for d in degrees track by d.degree"
						required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
					</select>
					<div ng-show="schoolclasscreation.degree.$dirty && schoolclasscreation.degree.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
			
			<!-- Degree level -->
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.degreelevel.$dirty && schoolclasscreation.degreelevel.$error.required}">
				<label for="degreelevel" class="col-md-2 control-label">{{ 'DEGREELEVEL.TITLE' | translate }}</label>
				<div class="col-md-10">
					<select
						class="form-control"
						name="degreelevel"
						ng-model="schoolclass.identification.degreelevel"
						ng-options="dl.level for dl in degreeLevels | filter: {degree: schoolclass.identification.degree.degree} track by dl.id"
						required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
					</select>
					<div ng-show="schoolclasscreation.degreelevel.$dirty && schoolclasscreation.degreelevel.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
			
			<!-- Degree level identifier -->
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.identifier.$dirty && schoolclasscreation.identifier.$error.required}">
				<label for="identifier" class="col-md-2 control-label">{{ 'DEGREEIDENTIFIER.TITLE' | translate }}</label>
				<div class="col-md-10">
					<select
						class="form-control"
						name="identifier"
						ng-model="schoolclass.identification.identifier"
						ng-options="i.id for i in identifiers track by i.id"
						required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
					</select>
					<div ng-show="schoolclasscreation.identifier.$dirty && schoolclasscreation.identifier.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
		</div>
		
		<!-- Responsible teacher -->
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'TEACHER.RESPONSIBLE' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.responsibleTeacher.$dirty && schoolclasscreation.responsibleTeacher.$error.required}">
				<label for="responsibleTeacher" class="col-md-2 control-label">{{ 'TEACHER.RESPONSIBLE' | translate }}</label>
				<div class="col-md-10">
					<select
						class="form-control"
						name="responsibleTeacher"
						ng-model="schoolclass.responsibleTeacher"
						ng-options="t.person.name.name + ' ' + t.person.name.surname for t in teachers track by t.id"
						required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
					</select>
					<div ng-show="schoolclasscreation.responsibleTeacher.$dirty && schoolclasscreation.responsibleTeacher.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
		</div>
		
		<!-- School -->
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'SCHOOL.TITLE' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.school.$dirty && schoolclasscreation.school.$error.required}">
				<label for="school" class="col-md-2 control-label">{{ 'SCHOOL.TITLE' | translate }}</label>
				<div class="col-md-10">
					<select
						class="form-control"
						name="school"
						ng-model="schoolclass.school"
						ng-options="s.name for s in schools track by s.id"
						required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
					</select>
					<div ng-show="schoolclasscreation.school.$dirty && schoolclasscreation.school.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
		</div>
		
		<!-- Actions -->
		<div class="panel-footer">
			<a ng-click="createNewSchoolClass()" class="btn btn-small btn-success" ng-disabled="schoolclasscreation.$invalid">{{ 'FORM.SAVE' | translate }}</a>
			<a ng-click="cancel()" class="btn btn-small btn-default">{{ 'FORM.CANCEL' | translate }}</a>
		</div>
	</div>
</form>