<form name="schoolclasscreation" class="form-horizontal">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'SCHOOLCLASS.IDENTIFICATION' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.label.$dirty && (schoolclasscreation.label.$error.required || schoolclasscreation.label.$error.maxlength)}">
				<label for="label" class="col-md-2 control-label">{{ 'SCHOOLCLASS.LABEL' | translate }}</label>
				<div class="col-md-10">
					<input type="text" id="label" name="label" class="form-control" ng-class="{'ng-filled': schoolclass.identification.label.length > 0}" ng-model="schoolclass.identification.label" ng-maxlength=255 required />
					<div ng-show="schoolclasscreation.label.$dirty && schoolclasscreation.label.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
					<div ng-show="schoolclasscreation.label.$dirty && schoolclasscreation.label.$error.maxlength"><small class="help-block">{{ 'FORM.ERROR.MAXLENGTH' | translate: '{num: 255}' }}</small></div>
				</div>
			</div>
		</div>
		
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'TEACHER.RESPONSIBLE' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.responsibleTeacher.$dirty && schoolclasscreation.responsibleTeacher.$error.required}">
				<label for="responsibleTeacher" class="col-md-2 control-label">{{ 'RESPONSIBLE.LEGAL' | translate }}</label>
				<div class="col-md-10">
					<select class="form-control" name="responsibleTeacher" ng-model="schoolclass.responsibleTeacher.id" required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
						<option value="{{ teacher.id }}" ng-repeat="teacher in teachers">
							{{ teacher.person.name.name }} {{ teacher.person.name.surname }}
						</option>
					</select>
					<div ng-show="schoolclasscreation.responsibleTeacher.$dirty && schoolclasscreation.responsibleTeacher.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
		</div>
		
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'SCHOOL.TITLE' | translate }}</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group" ng-class="{'has-error': schoolclasscreation.school.$dirty && schoolclasscreation.school.$error.required}">
				<label for="school" class="col-md-2 control-label">{{ 'SCHOOL.TITLE' | translate }}</label>
				<div class="col-md-10">
					<select class="form-control" name="school" ng-model="schoolclass.school.id" required>
						<option value="">{{ 'FORM.SELECT' | translate }}</option>
						<option value="1">Wardoo High School</option>
					</select>
					<div ng-show="schoolclasscreation.school.$dirty && schoolclasscreation.school.$error.required"><small class="help-block">{{ 'FORM.ERROR.REQUIRED' | translate }}</small></div>
				</div>
			</div>
		</div>
	
		<div class="panel-footer">
			<a ng-click="createNewSchoolClass()" class="btn btn-small btn-success" ng-disabled="schoolclasscreation.$invalid">{{ 'FORM.SAVE' | translate }}</a>
			<a ng-click="cancel()" class="btn btn-small btn-default">{{ 'FORM.CANCEL' | translate }}</a>
		</div>
	</div>
</form>